* text=auto
LICENSE text eol=lf

*.js text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.vue text eol=lf
*.wxml text eol=lf
*.wxss text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.prisma text eol=lf
*.sql text eol=lf
*.toml text eol=lf

*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.gz binary
*.zip binary
